@model Scrumboard.Web.DAL.BacklogItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Story</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Team.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Team.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BusinessValue.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BusinessValue.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Release.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Release.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sprint.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sprint.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Feature.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Feature.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BacklogItemStatus.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BacklogItemStatus.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Project.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Project.Name)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
