@model Scrumboard.Web.DAL.Task

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaskStatus.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TaskStatus.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TeamMember.Id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TeamMember.Id)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
